In [2]:
# 선택자 이용 내용 추출
from bs4 import BeautifulSoup

# 1. html source 가져오기
file = open('C:/Users/Playdata/Downloads/230522_머신러닝시작/html03.html', mode='r', encoding='utf-8')
source = file.read()

# 2. html 파싱
html = BeautifulSoup(source,'html.parser')

In [3]:
# 3. 선택자 이용 태그 내용 가져오기
    # id 선택자
print('>> table 선택자 <<')
table = html.select_one('#tab') # <table id = 'tab'>
print(table)

>> table 선택자 <<
<table border="1" id="tab">
<tr> <!-- 1행 -->
<!-- 제목 열 : th -->
<th id="id"> 학번 </th>
<th id="name"> 이름 </th>
<th id="major"> 학과 </th>
<th id="email"> 이메일 </th>
</tr>
<tr> <!-- 2행 -->
<td> 201601 </td>
<td> 홍길동 </td>
<td> 체육학과 </td>
<td> hong@naver.com </td>
</tr>
<tr class="odd"> <!-- 3행(홀수) -->
<td> 201602 </td>
<td> 이순신 </td>
<td> 해양학과 </td>
<td> lee@naver.com </td>
</tr>
<tr> <!-- 4행 -->
<td> 201603 </td>
<td> 강감찬 </td>
<td> 정치외교 </td>
<td> kang@naver.com </td>
</tr>
<tr class="odd"> <!-- 5행 -->
<td> 201604 </td>
<td> 유관순 </td>
<td> 유아교육 </td>
<td> you@naver.com </td>
</tr>
</table>

In [4]:
# th 내용 출력
ths = table.find_all('th') # list

In [5]:
for th in ths:
    print(th.string)

 학번
 이름
 학과
 이메일

In [6]:
print("<< 선택자 & 계층 >>")
ths = html.select('#tab > tr > th')
print(ths) # 리스트

<< 선택자 & 계층 >>
[<th id="id"> 학번 </th>, <th id="name"> 이름 </th>, <th id="major"> 학과 </th>, <th id="email"> 이메일 </th>]

In [7]:
for th in ths:
    print(th.string)

 학번
 이름
 학과
 이메일

In [8]:
# 2. class 선택자 : tr tag class='odd'
trs = html.select("#tab > .odd") # 홀수행
print(trs)

[<tr class="odd"> <!-- 3행(홀수) -->
<td> 201602 </td>
<td> 이순신 </td>
<td> 해양학과 </td>
<td> lee@naver.com </td>
</tr>, <tr class="odd"> <!-- 5행 -->
<td> 201604 </td>
<td> 유관순 </td>
<td> 유아교육 </td>
<td> you@naver.com </td>
</tr>]

In [9]:
print("### tr > td 출력 ###")
for tr in trs: # 행 : 2회 반복
    print(tr)
    tds = tr.find_all('td')
    for td in tds: # 열
        print(td.string)

### tr > td 출력 ###
<tr class="odd"> <!-- 3행(홀수) -->
<td> 201602 </td>
<td> 이순신 </td>
<td> 해양학과 </td>
<td> lee@naver.com </td>
</tr>
 201602
 이순신
 해양학과
 lee@naver.com
<tr class="odd"> <!-- 5행 -->
<td> 201604 </td>
<td> 유관순 </td>
<td> 유아교육 </td>
<td> you@naver.com </td>
</tr>
 201604
 유관순
 유아교육
 you@naver.com

In [ ]:
# 3) 태그(속성=값) 찾기
trs = html.select('tr[class=odd]')
print('### tr > td 출력 ###')

for tr in trs: # 행 : 2회 반복
    print(tr)
    tds = tr.find_all('td')
    for td in tds: # 열
        print(td.string)